Repository RyDoRe/RDiO: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api, build_app

.gitlab-ci.yml:

image: docker:19.03.8

services:
  - docker:19.03.8-dind

variables:
  # Use TLS https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#tls-enabled
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_DRIVER: overlay2

stages:
  - build

build_api:
  stage: build
  variables:
    CI_REGISTRY_IMAGE: "registry.gitlab.com/chromion/rdio/api"
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - docker build -f infrastructure/api/Dockerfile --cache-from $CI_REGISTRY_IMAGE:latest --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA --tag $CI_REGISTRY_IMAGE:latest packages/api
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE:latest
  only:
    changes:
      - infrastructure/api/**/*
      - packages/api/**/*


build_app:
  stage: build
  variables:
    CI_REGISTRY_IMAGE: "registry.gitlab.com/chromion/rdio/app"
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - docker build -f infrastructure/app/Dockerfile --cache-from $CI_REGISTRY_IMAGE:latest --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA --tag $CI_REGISTRY_IMAGE:latest packages/app
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE:latest
  only:
    changes:
      - infrastructure/app/**/*
      - packages/app/**/*

Updated file configs for deployment
  .gitlab-ci.yml
  deploy
  packages/api/app/Http/Controllers/AuthController.php
  packages/api/app/Http/Controllers/UserController.php
  packages/app/src/components/MusicPlayer.svelte
  packages/app/src/routes/songUpload.svelte
Due: build_api, build_app

Removed duplicate create radio button
  packages/api/app/Http/Controllers/RadioController.php
  packages/app/src/routes/playlists/[id].svelte
  packages/app/static/global.css
Due: build_api, build_app

fixed Various issues
  packages/api/app/Http/Controllers/AuthController.php
  packages/api/app/Http/Controllers/PlaylistController.php
  packages/api/database/seeds/DatabaseSeeder.php
  packages/app/src/routes/playlists/[id].svelte
  packages/app/src/routes/playlists/index.svelte
  packages/app/src/routes/register.svelte
  packages/app/src/routes/songUpload.svelte
  packages/app/src/routes/songs/index.svelte
  packages/app/static/global.css
Due: build_api, build_app

fixed lint
  packages/api/app/Http/Controllers/AuthController.php
  packages/app/src/routes/playlists/[id].svelte
  packages/app/src/routes/playlists/index.svelte
  packages/app/src/routes/songUpload.svelte
  packages/app/src/routes/songs/index.svelte
Due: build_api, build_app

Updated phpcs and authtest
  packages/api/app/Http/Controllers/AuthController.php
  packages/api/phpcs.xml
  packages/api/tests/AuthTest.php
Due: build_api

Added search to radios
  packages/api/app/Http/Controllers/RadioController.php
  packages/api/app/Radio.php
  packages/app/src/routes/radios/index.svelte
  packages/app/src/routes/songs/index.svelte
Due: build_api, build_app

added the functionality to manage favorites
  packages/app/src/components/Nav.svelte
  packages/app/src/components/Toast.svelte
  packages/app/src/routes/_layout.svelte
  packages/app/src/routes/favorites.svelte
  packages/app/src/routes/playlists/[id].svelte
  packages/app/src/routes/radios/index.svelte
Due: build_app

added backend functionality for favorites
  packages/api/app/Favorite.php
  packages/api/app/Http/Controllers/RadioController.php
  packages/api/app/Playlist.php
  packages/api/app/Radio.php
  packages/api/app/User.php
  packages/api/routes/web.php
Due: build_api

fixed favorite bug
  packages/app/src/routes/profile.svelte
  packages/app/src/routes/radios/index.svelte
  packages/app/src/routes/users/[id].svelte
  packages/app/static/global.css
Due: build_app

commented most of the code
  packages/api/app/Console/Commands/JWTKeyGenerateCommand.php
  packages/api/app/Console/Kernel.php
  packages/api/app/Http/Controllers/ExampleController.php
  packages/api/app/Http/Controllers/PlaylistController.php
  packages/api/app/Http/Controllers/RadioController.php
  packages/api/app/Http/Controllers/SongController.php
  packages/api/app/Http/Controllers/UserController.php
  packages/app/src/components/MusicPlayer.svelte
  packages/app/src/node_modules/api.js
  packages/app/src/routes/_layout.svelte
  packages/app/src/routes/index.svelte
  packages/app/src/routes/login.svelte
  packages/app/src/routes/logout.svelte
  packages/app/src/routes/playlists/[id].svelte
  packages/app/src/routes/profile.svelte
  packages/app/src/routes/radios/index.svelte
  packages/app/src/routes/register.svelte
  packages/app/src/routes/songUpload.svelte
  packages/app/src/routes/songs/index.svelte
  packages/app/src/routes/users/[id].svelte
  packages/app/src/routes/users/index.svelte
  packages/app/static/global.css
Due: build_api, build_app

fixed merge conflict
  packages/api/app/Http/Controllers/SongController.php
  packages/app/src/components/MusicPlayer.svelte
  packages/app/src/routes/login.svelte
  packages/app/src/routes/logout.svelte
  packages/app/src/routes/playlists/[id].svelte
  packages/app/src/routes/profile.svelte
  packages/app/src/routes/radios/index.svelte
  packages/app/src/routes/register.svelte
  packages/app/src/routes/songUpload.svelte
  packages/app/src/routes/songs/index.svelte
  packages/app/src/routes/users/[id].svelte
  packages/app/src/routes/users/index.svelte
Due: build_api, build_app

fixed the playlistorder
  packages/api/app/Http/Controllers/PlaylistController.php
  packages/api/app/Playlist.php
  packages/api/database/migrations/2020_05_18_155347_create_playlist_song_table.php
  packages/app/src/routes/playlists/[id].svelte
Due: build_api, build_app

changed the behavior of changing song order
  packages/app/src/routes/playlists/[id].svelte
Due: build_app

lint change
  packages/app/src/routes/playlists/[id].svelte
Due: build_app

Reduced throttling
  packages/api/app/Http/Controllers/RadioController.php
  packages/api/app/Http/Middleware/CorsMiddleware.php
Due: build_api

fixed linting errors
  packages/api/app/Http/Controllers/RadioController.php
  packages/api/app/Http/Middleware/CorsMiddleware.php
Due: build_api

Make the navbar position fixed
  packages/app/src/components/Nav.svelte
  packages/app/src/routes/_layout.svelte
Due: build_app

removed dev seeder
  packages/api/database/seeds/DatabaseSeeder.php
Due: build_api

Register and login redesigned
  packages/app/src/components/Input.svelte
  packages/app/src/components/MusicPlayer.svelte
  packages/app/src/routes/login.svelte
  packages/app/src/routes/register.svelte
  packages/app/static/global.css
Due: build_app

set content-length for stream
  packages/api/app/Http/Controllers/RadioController.php
Due: build_api

finished apidoc
  packages/api/.gitignore
  packages/api/app/Http/Controllers/PlaylistController.php
  packages/api/routes/web.php
Due: build_api

added deployment for apidoc
  deploy
  infrastructure/apidoc/Dockerfile
  packages/api/routes/web.php
Due: build_api
